 

<ion-content  >
   <ion-list class="gradient">
<ion-list class="text">SOOSAlAP</ion-list>
<img src="../../assets/icon/images (6).jpeg" alt="" class="ui">
<img src="../../assets/icon/images (7).jpeg" alt="" class="si">
<ion-card  class="cc">
 <img src="../../assets/icon/images (9).jpeg" alt="" class="ic">
  <ion-card-content class="ct"> Let's <br>Connect <br> Together </ion-card-content>
  <img src="../../assets/icon/images (5).jpeg" alt="" class="is">
</ion-card>
<img src="../../assets/icon/beautiful-girl-stands-near-walll-with-leaves_8353-5377.avif" alt="" class="il">
<ion-list class="bl"> 
<ion-button class="ob" color="light" fill="outline"  >Log In</ion-button>
<ion-button class="sb"   fill="solid"> Sign Up</ion-button>
</ion-list>
   </ion-list>
</ion-content>
