 

<ion-content  >
  <ion-grid> 
    <ion-row> 
      <ion-col size-sm="12" class="custom-height"  size="12" size-md="6"> 
   <ion-list class="fh">
    <ion-list class="fl">
      <ion-icon name="arrow-back-sharp" class="i"></ion-icon>
    </ion-list>
    <ion-list class="sl">
      <ion-icon name="bag-handle-outline" class="i"></ion-icon>
    </ion-list>
    <ion-list class="s">
      <b> Nike Air Max 270 </b> <br>
      Men's shoes
    </ion-list>
    <ion-list class="last"> Price <br>
     <span style="color: black; " > <b>$160</b></span>   
    </ion-list>
    <ion-list class="im">
      <img src="../../assets/icon/compressed_f8769206cd169f1edea6929c085e5cc1.webp" alt="">
    </ion-list>
   </ion-list>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="6"> 
   <ion-list class="sa">
     &nbsp;&nbsp; Description
    <ion-icon name="star-outline" class="fs"></ion-icon>
    <ion-icon name="star-outline" class="fs"></ion-icon>
    <ion-icon name="star-outline" class="fs"></ion-icon>
    <ion-icon name="star-outline" class="fs"></ion-icon>
    <ion-icon name="star-outline" class="fs"></ion-icon>
   </ion-list>
   <ion-list class="text">
    Nike's first lifestyle Air Max brings you style,comfort <br> and big attitude in the Nike Air Max 270...  <span style="color: black;"> <b>  Read More </b> </span> 
   </ion-list>
   <ion-list class="texto">
    &nbsp;&nbsp;Select Color
   </ion-list>
   <ion-grid>
    <ion-row>
      <ion-col size="3" class="ocol">
        <img src="../../assets/icon/first image.avif" alt="">
      </ion-col>
      <ion-col  size="3" class="scol">
        <img src="../../assets/icon/pair-sneakers-with-logo-nike-them_910054-31426.jpg" alt="">
      </ion-col>
      <ion-col  size="3" class="tcol">
        <img src="../../assets/icon/nike-shoe-with-nike-logo-it_754951-17647.avif" alt="">
      </ion-col>
      <ion-col  size="3" class="fcol">
        <img src="../../assets/icon/nike-color-swatches-dynamic-product-viewing_1036975-159374.jpg" alt="">
      </ion-col>
    </ion-row>
   </ion-grid>
   <ion-list class="t">
    Size
   </ion-list>
   <ion-grid>
    <ion-row>
      <ion-col class="nc">
        <ion-list class="inside-column"> 
          5</ion-list>
      </ion-col>
      <ion-col  class="nc">
        <ion-list class="inside-column"> 
          5.5</ion-list>
      </ion-col>
      <ion-col  class="nc">
        <ion-list class="inside-column"> 
          6</ion-list>
      </ion-col>
      <ion-col  class="nc">
        <ion-list class="inside-column"> 
          6.5</ion-list>
      </ion-col>
      <ion-col  class="nc">
        <ion-list class="inside-column"> 
          7</ion-list>
      </ion-col>
    </ion-row>
   </ion-grid>
   <ion-list class="just">
    <ion-icon name="heart-circle-outline" size="large" class="ic"></ion-icon>
    <ion-button  class="custom-button">Add To Cart</ion-button>
   </ion-list>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
