
<ion-content >
 
  
  <ion-list class="ful">
   
    <ion-list class="im" lines="none">
      <ion-item>
        <ion-thumbnail>
          <ion-avatar>
            <img src="../../assets/icon/images (3).jpeg" alt="">
          </ion-avatar>
        </ion-thumbnail>
        <ion-label class="txtt">Welcome <br>Let's explore trends</ion-label>
        <ion-icon name="search-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <swiper-container 
    [breakpoints] ="{
    '360':{
      slidesPerView:'1',
      'spaceBetween':2
    },
    '760':{
      slidesPerView:'3',
      'spaceBetween':2
    },
    '1121':{
      slidesPerView:'3',
      'spaceBetween':10
    },
   } "
    >
    <swiper-slide> 
    <ion-list class="des">
      <ion-list class="gradient"></ion-list>
      <ion-list class="oct">
<ion-list class="ot">
  30% <br> OFF
</ion-list>
      </ion-list>
      <ion-list class="wq">
         <u>  Discover more </u>
         <ion-icon name="arrow-forward-outline" class="ico"></ion-icon>
      </ion-list>
    </ion-list>
  
  </swiper-slide>
  <swiper-slide> 
    <ion-list class="des">
      <ion-list class="gradient"></ion-list>
      <ion-list class="oct">
<ion-list class="ot">
  30% <br> OFF
</ion-list>
      </ion-list>
      <ion-list class="wq">
         <u>  Discover more </u>
         <ion-icon name="arrow-forward-outline" class="ico"></ion-icon>
      </ion-list>
    </ion-list>
  
  </swiper-slide>
  <swiper-slide> 
    <ion-list class="des">
      <ion-list class="gradient"></ion-list>
      <ion-list class="oct">
<ion-list class="ot">
  30% <br> OFF
</ion-list>
      </ion-list>
      <ion-list class="wq">
         <u>  Discover more </u>
         <ion-icon name="arrow-forward-outline" class="ico"></ion-icon>
      </ion-list>
    </ion-list>
  
  </swiper-slide>
  </swiper-container>
  
  <swiper-container 
  [breakpoints] ="{
  '360':{
    slidesPerView:'1',
    'spaceBetween':2
  },
  '760':{
    slidesPerView:'3',
    'spaceBetween':2
  },
  '1121':{
    slidesPerView:'6',
    'spaceBetween':20
  },
 } "
  >
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  <swiper-slide>
    <ion-list>
      <ion-grid>
        <ion-row >
          <ion-col class="colt"    >
             <ion-list class="yt">
             <ion-list class="trr">shoes</ion-list> 
          <ion-icon name="add-circle-outline" class="ic"></ion-icon> 
             </ion-list>
          </ion-col>
         
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </swiper-slide>
  
 

</swiper-container>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col class="coi"> New Arrival</ion-col>
          <ion-col class="c"> See All</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row size="12">
          <ion-col class="cc"  size-sm="6" size-md="3" size="6">
            <img src="../../assets/icon/pngtree-shoes-promotion-banner-background-image_1466238.jpg" alt="" class="i">
            <ion-label class="te"> <br> Univercity shoes   <ion-icon name="tablet-landscape-outline"></ion-icon><br> for all people</ion-label>
            <ion-label> <br>$736.00</ion-label>
          </ion-col>
          <ion-col class="cd"  size-sm="6" size-md="3" size="6">
            <img src="../../assets/icon/wp10100966.jpg" alt="" class="ii">
            <ion-label class="te"> <br>Univercity shoes   <ion-icon name="tablet-landscape-outline"></ion-icon><br> for all people</ion-label>
            <ion-label> <br>$736.00</ion-label>
          </ion-col>
          <ion-col class="s"  size-sm="6" size-md="3" size="6">
            <img src="../../assets/icon/pngtree-trendy-youth-colorful-shoes-on-blue-background-with-plant-shadow-image_15825295.jpg" alt="" class="u">
            <ion-label class="te"> <br> Univercity shoes   <ion-icon name="tablet-landscape-outline"></ion-icon><br> for all people</ion-label>
            <ion-label> <br>$736.00</ion-label>
          </ion-col>
          <ion-col class="sw"  size-sm="6" size-md="3" size="6">
            <img src="../../assets/icon/images (10).jpeg" alt="" class="q">
            <ion-label class="te"> <br> Univercity shoes   <ion-icon name="tablet-landscape-outline"></ion-icon><br> for all people</ion-label>
            <ion-label> <br>$736.00</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-list>
</ion-content>
 
   
   
<ion-footer class=" footer">
  <ion-toolbar > 
  <ion-grid>
    <ion-row>
      <ion-col   size-md="6" offset-md="3" size="6">
              <ion-icon name="home-outline"></ion-icon>
              <ion-icon name="layers-outline" class="io"></ion-icon>
              <ion-icon name="heart-outline" class="io"></ion-icon>
              <ion-icon name="person-outline" class="io"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
 
 