 
<ion-content>
  <ion-list class="fi" > 
  <ion-list class="fs" >
    <ion-list class="gradient" >
      <ion-list class="pro">
        <ion-icon name="person-circle-outline" class="ic"></ion-icon>
        <ion-item class="cl"> 
        <ion-input label="First name" label-placement="floating" fill="outline" placeholder="Enter your first name" class="fn"></ion-input></ion-item>
        <ion-item class="cl"> 
        <ion-input label="Last name" label-placement="floating" fill="outline" placeholder="Enter your last name" class="fn"></ion-input></ion-item>
        <ion-item class="cl"> 
        <ion-input label="  Email" label-placement="floating" fill="outline" placeholder="Enter your email" class="fn"></ion-input></ion-item>
        <ion-item class="cl"> 
        <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter your password" class="fn"></ion-input>
        </ion-item>
       </ion-list>
       <ion-list class="si">
        <ion-button class="bu" color="light" size="large">Sign In</ion-button>
       </ion-list>
       <ion-list class="sg">
        SIGN IN WITH <br>
        <ion-icon name="logo-google" class="gog"></ion-icon>
         
        
       </ion-list>
      
    </ion-list>
  </ion-list>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button    >
      <ion-icon name="add" >+</ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
