 <ion-content>
  <ion-list class="fullwhite">
    <ion-list class="texticon">SOOSALAP
      <ion-icon name="settings-outline" class="left"></ion-icon>
      <ion-icon name="notifications-outline" class="left"></ion-icon>
      <ion-icon name="search-outline" class="left"></ion-icon>
    </ion-list>
    <ion-list class="imgs">
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="add" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <img src="../../assets/icon/images (5).jpeg" alt="" class="imgo">
      <img src="../../assets/icon/images (6).jpeg" alt="" class="imgt">
      <img src="../../assets/icon/images (7).jpeg" alt="" class="imgt">
 
 
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-avatar>  
          <img src="../../assets/icon/images (2).jpeg" >
        </ion-avatar>
        </ion-thumbnail>
        <ion-label>Jerry Smith</ion-label>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-card class="imgc">
        <img alt="" src="../../assets/icon/images (4).jpeg"  class="as"/>
      </ion-card>
    </ion-list>
    <ion-grid>
      <ion-row >
        <ion-col class="clo">
          <ion-icon name="heart-outline" size="large"></ion-icon> 23k
        </ion-col>
        <ion-col class="clo">
          <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>1900
        </ion-col>
        <ion-col class="clo">
          <ion-icon name="bookmark-outline" size="large"></ion-icon>200
        </ion-col>
        <ion-col class="clo">
          <ion-icon name="paper-plane-outline" size="large" class="icon"></ion-icon>23k
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-avatar> 
          <img src="../../assets/icon/images (3).jpeg" >
        </ion-avatar>
        </ion-thumbnail>
        <ion-label>Jenifer</ion-label>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-card >
      <img alt="" src="../../assets/icon/images (1).jpeg"  class="oim"/>
    </ion-card>
  </ion-list>
 </ion-content>
