
<ion-content>
   <ion-list  class="ss">
<ion-list class="su">
  Sign In
  <br>
</ion-list>
<ion-list class="ee">
  Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit,sed do tempor incidunt ut labore et.
</ion-list>
 
<ion-list class="wh">
  <ion-list>
    <ion-input class="eb" label="Username" label-placement="floating" fill="solid"  placeholder="Enter username"></ion-input>
  <ion-input class="be" label="Password" label-placement="floating" fill="solid" placeholder="Enter password"></ion-input>
  </ion-list>
  <ion-list class="bw">
    Forgot Password?
  </ion-list>
  <ion-list>
    <ion-button color="dark" class="bd">Sign Up</ion-button>
  </ion-list>
  <ion-list>
    <ion-button color="light" placeholders="Google" class="fd">
      <ion-icon class="ii" name="logo-google"></ion-icon>
    Continue With Google
    </ion-button>
    <ion-button color="light" placeholders="Facebook" class="dff">
      <ion-icon name="logo-facebook"></ion-icon>
      Continue With Facebook
    </ion-button>
  </ion-list>
</ion-list>
 
   </ion-list>
    
</ion-content>
