.ss{
    background: yellow;
    width: 410px;
    height: 700px;
}
.wh{
    background: white;
    width: 407px;
    height: 500px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    
    position: absolute;
    bottom: 0px;
}
.eb{
    width: 300px;
    background: white;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
}
.be{
    width: 300px;
    background: white;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
}
 .bw{
     margin-top: 20px;
     margin-left: 250px;
 }
 .bd{
    width: 300px;
    margin-left: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .fd{
    width: 300px;
    background: yellow;
    margin-left: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 70px;
}
.ii{
     margin-right: 40px;
}
.dff{
    width: 300px;
    background: yellow;
    margin-left: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;

}
.su{
    background: yellow;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}
.ee{
    background: yellow;
    text-align: center;
}