
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" class="custom-height"  size="12" size-md="6"> 
    
 
    <ion-list class="hal">
<ion-list class="o">
  <ion-icon name="chevron-back-circle-outline" class="j"></ion-icon>
  <ion-icon name="heart-circle" class="k"></ion-icon>
</ion-list>
<ion-list class="oo">
  <ion-label class="r">Nike Air Special <br> Edition
    <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
    <ion-list class="t">&nbsp;&nbsp;$67</ion-list>
</ion-list>
<ion-list class="list">
  <img src="../../assets/icon/360_F_613768553_lzD7oRQSgDdnHDbo9B8wxbGFVXdsvrNn.jpg" alt="" class="imgg">
</ion-list>
    </ion-list>
    
    <ion-list class="op"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-list>
  </ion-col>
  <ion-col size-sm="12" size="12" size-md="6"> 
     
    <ion-list class="text">
      <ion-label class="txt">Size 
      </ion-label>
      <ion-label class="tet">size guide</ion-label>
    </ion-list>
    <ion-list>
       <ion-grid>
        <ion-row>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="ff">5</ion-label>
            </ion-list>
          </ion-col>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="f">5.5</ion-label>
            </ion-list>
          </ion-col>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="ff">6</ion-label>
            </ion-list>
          </ion-col>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="f">6.6</ion-label>
            </ion-list>
          </ion-col>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="ff">7</ion-label>
            </ion-list>
          </ion-col>
          <ion-col class="col">
            <ion-list class="inc">  
              <ion-label class="f">7.7</ion-label>
            </ion-list>
          </ion-col>
        </ion-row>
       </ion-grid>
    </ion-list>
    <ion-list class="tex">Description : <ion-icon name="arrow-down-sharp"></ion-icon></ion-list>
    <ion-list class="tx">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recus <br> andae ducimus quos
      reprehenderit. Veniam, molestias.  
    </ion-list>
    <ion-list>
      <ion-button class="button">Add To Card</ion-button>
    </ion-list>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
