  .in{
background: yellow;
height: 150px;
width: 150px;
border-bottom-left-radius: 200px;
  float: right;
   
  
 }
 .out{
  background: yellow;
  height: 220px;
  width: 220px;
  border-top-right-radius: 200px;
 position: absolute;
  bottom: 0;
    
 }
 .er{
  text-align: center;margin-top: 0px;font-size: larger;font-weight: bolder;  
 }
 .yt{
  text-align: center;
 }
 .ew{
  margin-left: 160px;
  margin-top: 230px;
 }