
<ion-content >
  <ion-list>
    <swiper-container 
    [breakpoints] ="{
    '360':{
      slidesPerView:'1',
      'spaceBetween':2
    },
    '760':{
      slidesPerView:'1',
      'spaceBetween':2
    },
    '1121':{
      slidesPerView:'3',
      'spaceBetween':10
    },
   } "
    >
    <swiper-slide> 
 
  <ion-list class="we">

    <ion-list class="qw">
      New Release <br> <br>
      <b>Nike Air</b>
      <br> Max Plus
      <ion-list class="wq">
        Shop now
      </ion-list>
    </ion-list>
  </ion-list>
</swiper-slide>
<swiper-slide> 
 
<ion-list class="we">

  <ion-list class="qw">
    New Release <br> <br>
    <b>Nike Air</b>
    <br> Max Plus
    <ion-list class="wq">
      Shop now
    </ion-list>
  </ion-list>
</ion-list>
</swiper-slide>
<swiper-slide> 
 
<ion-list class="we">

  <ion-list class="qw">
    New Release <br> <br>
    <b>Nike Air</b>
    <br> Max Plus
    <ion-list class="wq">
      Shop now
    </ion-list>
  </ion-list>
</ion-list>
</swiper-slide>
 </swiper-container>
  </ion-list>
 
<swiper-container 
[breakpoints] ="{
'360':{
  slidesPerView:'1',
  'spaceBetween':2
},
'760':{
  slidesPerView:'3',
  'spaceBetween':2
},
'1121':{
  slidesPerView:'3',
  'spaceBetween':20
},
} "
>
<swiper-slide> 
 
  <ion-list class="op">
    <ion-button class="fb">Popular</ion-button>
    <ion-button class="sb"> Men</ion-button>
    <ion-button class="sb"> Women</ion-button>
    <ion-button class="sb"> Kids</ion-button>
     
  </ion-list>
 
</swiper-slide>
<swiper-slide> 
 
    <ion-list class="op">
      <ion-button class="fb">Popular</ion-button>
      <ion-button class="sb"> Men</ion-button>
      <ion-button class="sb"> Women</ion-button>
      <ion-button class="sb"> Kids</ion-button>
       
    </ion-list>
 
  </swiper-slide>
  <swiper-slide> 
    
      <ion-list class="op">
        <ion-button class="fb">Popular</ion-button>
        <ion-button class="sb"> Men</ion-button>
        <ion-button class="sb"> Women</ion-button>
        <ion-button class="sb"> Kids</ion-button>
         
      </ion-list>
     
    </swiper-slide>
    <swiper-slide> 
      
        <ion-list class="op">
          <ion-button class="fb">Popular</ion-button>
          <ion-button class="sb"> Men</ion-button>
          <ion-button class="sb"> Women</ion-button>
          <ion-button class="sb"> Kids</ion-button>
           
        </ion-list>
       
      </swiper-slide>
      <swiper-slide> 
         
          <ion-list class="op">
            <ion-button class="fb">Popular</ion-button>
            <ion-button class="sb"> Men</ion-button>
            <ion-button class="sb"> Women</ion-button>
            <ion-button class="sb"> Kids</ion-button>
             
          </ion-list>
        
        </swiper-slide>
        <swiper-slide> 
           
            <ion-list class="op">
              <ion-button class="fb">Popular</ion-button>
              <ion-button class="sb"> Men</ion-button>
              <ion-button class="sb"> Women</ion-button>
              <ion-button class="sb"> Kids</ion-button>
               
            </ion-list>
           
          </swiper-slide>
</swiper-container>
  
<swiper-container 
[breakpoints] ="{
'360':{
  slidesPerView:'1',
  'spaceBetween':2
},
'760':{
  slidesPerView:'1',
  'spaceBetween':2
},
'1121':{
  slidesPerView:'3',
  'spaceBetween':5
},
} "
>
<swiper-slide class="str"> 

  <ion-list class="ew"> 
  <img src="../../assets/icon/compressed_f8769206cd169f1edea6929c085e5cc1.webp" alt="Thumnail" class="imgg">
  <ion-list class="er">
 
 <ion-list class="text">  
   <b> Nike Air Max 270 </b> <br>  
  Men's shoes  
</ion-list>  
<ion-list class="opi">
   <b>$160</b>
</ion-list>
<ion-list class="floatbuttons">
  <ion-fab    >
    <ion-fab-button size="small" class="lp">
      <ion-icon name="add"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-list>
  </ion-list>
</ion-list>
 
</swiper-slide>
<swiper-slide class="str"> 

  <ion-list class="ew"> 
  <img src="../../assets/icon/compressed_f8769206cd169f1edea6929c085e5cc1.webp" alt="Thumnail" class="imgg">
  <ion-list class="er">
 
 <ion-list class="text">  
   <b> Nike Air Max 270 </b> <br>  
  Men's shoes  
</ion-list>  
<ion-list class="opi">
   <b>$160</b>
</ion-list>
<ion-list class="floatbuttons">
  <ion-fab    >
    <ion-fab-button size="small" class="lp">
      <ion-icon name="add"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-list>
  </ion-list>
</ion-list>
 
</swiper-slide>
<swiper-slide class="str"> 

  <ion-list class="ew"> 
  <img src="../../assets/icon/compressed_f8769206cd169f1edea6929c085e5cc1.webp" alt="Thumnail" class="imgg">
  <ion-list class="er">
 
 <ion-list class="text">  
   <b> Nike Air Max 270 </b> <br>  
  Men's shoes  
</ion-list>  
<ion-list class="opi">
   <b>$160</b>
</ion-list>
<ion-list class="floatbuttons">
  <ion-fab    >
    <ion-fab-button size="small" class="lp">
      <ion-icon name="add"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-list>
  </ion-list>
</ion-list>
 
</swiper-slide>
</swiper-container>


 
 
 
</ion-content>
 
<ion-footer slot="fixed"  >
  <ion-list class="custom-button">  
    <ion-fab>
      <ion-fab-button size="medium" class="b" >
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-list>
  <ion-toolbar class="footer">
      <ion-icon name="home-outline" class="ico"></ion-icon> 
      <ion-icon name="search-outline" class="iico"></ion-icon>
      <ion-icon    name="person-outline" class="iicoi"></ion-icon>
      <ion-icon name="heart-outline"  class="icp"></ion-icon>
  </ion-toolbar>
</ion-footer>
 
