 <ion-content>
  <ion-list  class="gradient">
    <ion-list class="img">
      <img src="../../assets/icon/images (5).jpeg" alt="">
    </ion-list>
    <ion-list class="txt">
      Rakib Kaswar
    </ion-list>
    <ion-list >
      <ion-grid>
        <ion-row   >
          <ion-col  class="txtcol">
            256 <br> Following
          </ion-col>
          <ion-col  class="txtcol">
            22.11k <br> Followers
          </ion-col>
          <ion-col  class="txtcol">
            3.6M <br> Likes
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col class="ob">
            <ion-button shape="round" class="button">Request</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" class="tb">Request</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col class="tp"> Photos</ion-col>
          <ion-col class="textoff"> Videos</ion-col>
          <ion-col  class="textoff"> About</ion-col>
          <ion-col  class="textoff"> Following</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col class="igc" size="6"> 
            <img src="../../assets/icon/360_F_595787852_efGpIfJmAJxcof7PBsQsDmirsZ3R8o50.jpg" alt="" class="imgg">
          </ion-col>
          <ion-col class="igc" size="6">
            <img src="../../assets/icon/61j+1VGO3iL.jpg" alt="" class="igcol">
          </ion-col>
        </ion-row>
        <ion-row  class="ion-align-items-start">
          <ion-col class="igcc" size="6"> 
            <img src="../../assets/icon/peach-pink-realistic-diamond-donut-with-sprinkles-in-3d-render-soaring-above-and-gradient-background-featuring-simple-modern-design-fractal-pattern_9609641.jpg!w700wp" alt=" Visible image" class="igcol">
          </ion-col>
          <ion-col class="igcc" size="6"> 
            <img src="../../assets/icon/31d272cfaac80dcb1bd858e79aa51a9d.jpg!w700wp" alt=" Description of image" class="imgtt">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-list>
 </ion-content>
